.hero {
	height: 545px;
	background: url('@/assets/banner-hero.webp') no-repeat center;
	background-size: cover;
	padding: 0 20px;

	> div {
		display: flex;
		justify-content: center;
		align-items: flex-start;
		flex-direction: column;
		height: 545px;
		width: 1170px;
		max-width: 100%;
		margin: 0 auto;

		p {
			display: flex;
			font-weight: 400;
			font-size: clamp(18px, 2.5vw, 23px);

			&:first-child {
				font-weight: 700;
				line-height: 100%;
				color: $brown-90;
			}

			span {
				display: flex;
    			align-items: center;
				height: 30.67px;
				margin-left: 2px;
				padding: 0 4px;
				background: $yellow;
				border-radius: 6px;
				font-weight: 700;
			}
		}

		h1 {
			font-size: clamp(54px, 8vw, 78px);
			color: #3b200b;

			span {
				color: $yellow;
			}
		}

		a {
			margin-top: 14px;
		}
	}
}

@media screen and (max-width: 763.98px) {
	.hero {
		height: 855.465px;
		background: url('@/assets/banner-hero-mobile.webp') no-repeat center;
		background-size: cover;

		> div {
			height: auto;
			position: relative;
			top: 102px;

			p span {
				height: 24px;
			}

			a {
				margin-top: 16px;
			}
		}
	}
}

@media screen and (max-width: 360px) {
	.hero > div {
		h1 {
			font-size: 46px;
		}
		p {
			font-size: 16px;
		}
	}
}