.nossas-entregas {
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	justify-content: center;
	width: 1170px;
	max-width: calc(100% - 40px);
	gap: 32px;
	margin: 0 auto 64px;

	.informacoes {
		h1 {
			margin-bottom: 16px;
		}

		ul {
			display: grid;
			grid-template-columns: 1fr;
			gap: 8px;

			li {
				display: flex;
				align-items: center;
				height: 90px;
				padding: 15px 21px;
				background: #fff;
				border-radius: 10px;
				transition: all 0.4s;

				&:hover {
					box-shadow: 0px 4px 40px rgba(179, 155, 132, 0.5);
					cursor: pointer;
				}

				img {
					background: #fae2cb;
					clip-path: circle(50%);
					height: 60px;
					max-width: 60px;
					object-fit: none;
				}

				.info {
					display: flex;
					justify-content: center;
					flex-direction: column;
					height: 45.3px;
					margin-left: 18px;
					padding-left: 24px;
					border-left: 1px solid $brown-40;

					.title {
						margin-bottom: 4px;
						font-size: clamp(18px, 2.7vw, 20px);
					}

					.description {
						font-size: clamp(14px, 2vw, 16px);
					}
				}
			}
		}
	}

	.pedido {
		display: flex;
		align-items: center;
		justify-content: space-between;
		grid-column: span 2;
		margin-top: 68px;
		padding: 14.11px 35.86px 14.11px 22.3px;
		background: $red;
		border-radius: 10px;

		.chamada {
			display: flex;
			align-items: center;

			img {
				background: rgba(29, 6, 5, 0.2);
				clip-path: circle(50%);
				height: 94.83px;
				width: 94.83px;
				object-fit: none;
			}

			div {
				display: flex;
				justify-content: center;
				flex-direction: column;
				height: 82.74px;
				margin-left: 15.45px;
				padding-left: 15.45px;
				border-left: 1px solid $brown-40;

				.title {
					margin-bottom: 5.57px;
					color: $brown-69;
				}

				p {
					width: 466.27px;
					padding-right: 24px;
					font-size: clamp(14px, 1.7vw, 16px);
					color: rgba(255, 255, 255, 0.90);

					span {
						font-weight: 700;
					}
				}
			}
		}

		a {
			display: flex;
			align-items: center;
			height: 42px;
			padding: 0 16px;
			background: $neutral-font;
			border-radius: 4px;
			font-size: clamp(16px, 1.95vw, 18px);
			font-weight: 900;
			line-height: initial;
			color: $red;
			text-transform: uppercase;
			cursor: pointer;

			&:hover {
				box-shadow: 0 0 30px 5px #fae2cb;
				transition: 0.3s;
			}
		}
	}
}

@media screen and (max-width: 946.98px) {
	.nossas-entregas {
		grid-template-columns: 1fr;
		max-width: calc(100% - 48px);

		picture img {
			max-width: 600px;
			margin: 0 auto;
		}

		.informacoes ul li {
			width: 100%;
		}

		.pedido {
			grid-column: 1;
		}
	}
}

@media (min-width: 658px) and (max-width: 946.98px) {
	.nossas-entregas {
		.informacoes ul {
			grid-template-columns: 1fr 1fr;
			gap: 12px;
		}

		.pedido {
			flex-wrap: wrap;
			padding: 24px;

			.chamada {
				img {
					clip-path: circle(48%);
					height: 83.83px;
					width: 100.83px;
				}
				div {
					width: 100%;

					p {
						width: 300px;
						padding: 0;
					}
				}
			}

			a {
				margin: 0;
			}
		}
	}
}

@media (min-width: 658px) and (max-width: 814.98px) {
	.nossas-entregas .pedido .chamada div p {
		width: 410px;
	}
	.nossas-entregas .pedido a {
		margin: 16px auto 0;
	}
}

@media screen and (max-width: 657.98px) {
	.nossas-entregas .pedido,
	.nossas-entregas .pedido .chamada {
		flex-direction: column;
	}

	.nossas-entregas {
		gap: 40px;

		.informacoes ul li .info {
			height: 69.558px;
		}

		.pedido {
			margin-top: 24px;
			padding: 12px 24px 16px;

			.chamada div {
				height: auto;
				margin-top: 8px;
				margin-left: 0;
				padding-top: 8px;
				padding-left: 0;
				border-left: none;
				border-top: 1px solid $brown-40;
				text-align: center;

				.title {
					margin-bottom: 4px;
				}

				p {
					width: 100%;
					padding: 0 0 16px;
				}
			}

			a {
				width: 100%;
				justify-content: center;
			}
		}
	}
}