.nossa-realeza {
	display: flex;
	margin: 0 auto 86px;

	.container {
		.swiper {
			width: calc(100% + 120px);
			position: relative;
			left: -12px;

			&::after {
				content: '';
				display: flex;
				padding: 89px 66px;
				border-radius: 10px 0px 0px 10px;
				background: linear-gradient(to right, #fff0 0%, #faf3f2 100%);
				position: absolute;
				top: 16px;
				right: 0;
				z-index: 1;
			}

			.swiper-wrapper {
				width: 1290px;
				margin-left: 12px;

				.swiper-slide {
					display: flex;
					flex-direction: column;
					justify-content: space-between;
					width: 370px !important;
					height: 177.83px;
					gap: 0;
					margin: 16px 12px 32px 0;
					padding: 12.4px 16.8px;
					background: #fff;
					border-radius: 10px;
					opacity: 0.6;
					transition: all 0.3s;

					&:hover {
						box-shadow: 0px 4px 25px 0px rgba(60, 35, 13, 0.1);
						opacity: 1;
						cursor: pointer;
					}

					> p {
						display: -webkit-box;
						-webkit-line-clamp: 4;
						-webkit-box-orient: vertical;
						overflow: hidden;
						width: 334px;
						color: #635352;
					}

					.avatar {
						display: flex;
						align-items: center;

						img {
							height: 48.5px;
							width: 48.5px;
							margin-right: 8px;
							-webkit-clip-path: circle(50%);
							clip-path: circle(50%);
							-o-object-fit: cover;
							object-fit: cover;
						}

						.name {
							font-family: Lilita One,cursive;
							font-size: 18px;
							line-height: 25px;
							color: rgba(29,6,5,.9);
							text-transform: uppercase;
						}

						.age {
							font: 400 12px/17px 'Lato', sans-serif;
							color: $brown-69;
						}
					}
				}
			}

			.swiper-pagination {
				left: -65px;
				
				.swiper-pagination-bullet {
					width: 47.46px;
					height: 4px;
					gap: 3.8px;
					border-radius: 0;
					background-color: #fff;
					opacity: 1;
				}

				.swiper-pagination-bullet-active {
					background-color: $yellow;
				}

			}
		}
	}
}

@media (max-width: 1220px) {
	.nossa-realeza .container {
		width: 100%;

		.swiper {
			width: 100%;
			left: 0;

			&::after {
				display: none;
			}

			.swiper-wrapper {
				width: initial;
				margin-left: 0;
			}

			.swiper-pagination {
				left: 0;
			}
		}
	}
}

@media screen and (max-width: 946.98px) {
	.nossa-realeza {
		margin-bottom: 64px;
	}
}

@media screen and (max-width: 657.98px) {
	.nossa-realeza .container .swiper .swiper-wrapper .swiper-slide {
		width: 326px !important;
		height: 212px;
		margin-bottom: 0;

		> p {
			width: 286px;
			-webkit-line-clamp: 5;
		}
	}
}