.nosso-castelo {
	display: flex;
	align-items: center;
	flex-direction: column;
	text-align: center;

	p {
		margin-top: 4px;
		margin-bottom: 32px;
	}
}

@media (min-width: 658px) and (max-width: 946.98px) {
	.nosso-castelo p {
		margin-bottom: 24px;
	}
}

@media screen and (max-width: 657.98px) {
	.nosso-castelo p {
		margin-top: 2px;
		margin-bottom: 16px;
	}
}
