#promocao {
	display: flex;
	max-width: 100%;
	margin: 0 auto 64px;

	.container {
		> p {
			margin-top: 4px;
			margin-bottom: 16px;
		}
		.produtos {
			display: grid;
			grid-template-columns: 2fr auto;
			gap: 30px;
			margin-bottom: 64px;

			.burger {
				position: relative;
				padding: 12.43px 20.37px;
				border-radius: 10px;

				h1 {
					font-size: clamp(20px, 2.2vw, 25px);
				}

				@for $i from 1 through 3 {
					&:nth-child(#{$i}) {
						background: url('@/assets/ofertas/oferta-especial-desktop-#{$i}.webp') no-repeat center;
						background-size: cover;
					}
				}

				&:first-child {
					grid-row: span 2;
					width: min(100%, 770px);
					height: 430px;

					h1 {
						color: rgba(255, 255, 255, 0.9);
					}

					p {
						color: rgba(255, 255, 255, 0.69);

						&.destaque {
							display: flex;
							flex-direction: column;
							position: absolute;
							right: 25.5px;
							bottom: 23px;
							font-family: 'Lato', sans-serif;
							font-weight: 400;
							font-size: clamp(11px, 1.4vw, 23px);
							line-height: 100%;

							span {
								margin-top: 6px;
								font-family: 'Lilita One', cursive;
								font-size: clamp(20px, 3.516vw, 42px);
								line-height: 65%;
								text-transform: uppercase;
								color: rgba(255, 255, 255, 0.9);
							}
						}
					}
				}

				&:nth-child(2),	&:last-child {
					width: 370.96px;
					height: 200px;
				}
			}
		}

		.horario-funcionamento {
			display: grid;
			grid-template-columns: 1fr 1fr;
			gap: 30px;

			.card {
				display: flex;
				align-items: center;
				justify-content: flex-start;
				width: 100%;
				height: 130.93px;
				background: $red;
				border-radius: 10px;
				padding: 18px 22px;
				position: relative;

				&.aberto {
					background-color: #bedd15;
				}

				.tarja {
					display: flex;
					align-items: center;
					justify-content: center;
					width: 120px;
					height: 20px;
					background-color: rgb(250, 243, 242, 0.6);
					position: absolute;
					top: 25px;
					left: -25px;
					transform: rotate(315deg);
					font: 400 12px/13px 'Lilita One', cursive;
					color: $brown-69;
					text-align: center;
					text-transform: uppercase;
				}

				img {
					width: clamp(73px, 8vw, 94.83px);
					height: clamp(73px, 8vw, 94.83px);
					padding: calc(8px + 0.5vw);
					background: rgba(29, 6, 5, 0.2);
					clip-path: circle(50%);
					object-fit: fill;
				}

				.separador::before {
					content: '';
					display: block;
					height: 82.74px;
					border: 1px solid $brown-15;
					margin: 0 15.5px;
				}

				.info {
					h2 {
						margin-bottom: 5px;
						color: $brown-69;
					}

					p {
						font-weight: 700;
						font-size: clamp(14px, 1.465vw, 16px);
						color: rgba(255, 255, 255, 0.85);

						span.horario {
							font-weight: 900;
						}
					}
				}
			}

			.seguir {
				display: flex;
				justify-content: center;
				flex-direction: column;

				p {
					margin-bottom: 4px;
					font-size: 18px;
				}

				h3 {
					margin: 0;
					font-size: 28px;
					line-height: clamp(68%, 84%, 100%);
					color: $red;
				}
			}
		}
	}
}

@media screen and (max-width: 946.98px) {
	#promocao .container .horario-funcionamento {
		grid-template-columns: 100%;

		.seguir {
			align-items: center;

			p {
				text-align: center;
			}
			h3 {
				font-size: 2.563rem;
			}
		}
	}
}

@media (min-width: 658px) and (max-width: 946.98px) {
	#promocao .container {
		width: 100%;

		.produtos {
			grid-template-columns: repeat(auto-fill, minmax(17.5rem, 1fr));
			justify-items: center;

			.burger {
				@for $i from 1 through 3 {
					&:nth-child(#{$i}) {
						width: 100%;
					}
				}

				&:first-child {
					grid-column: span 2;
				}
			}
		}
	}
}

@media screen and (max-width: 657.98px) {
	#promocao .container {
		width: 100%;

		.produtos {
			grid-template-columns: 1fr;
			gap: 8px;
			margin-bottom: 38px;

			.burger {
				@for $i from 1 through 3 {
					&:nth-child(#{$i}) {
						background: url('@/assets/ofertas/oferta-especial-mobile-#{$i}.webp') no-repeat center;
						width: 100%;
						height: 205px;
					}
				}

				&:first-child p.destaque {
					right: 16.13px;
					bottom: 16.84px;
				}
			}
		}

		.horario-funcionamento {
			gap: 64px;

			.card {
				height: auto;
				padding: 20px 16px;

				img {
					padding: 14px;
				}
				.separador::before {
					margin: 0 8px;
				}

				.info {
					h2 {
						font-size: 1.125rem;
					}
					p {
						font-weight: 400;

						span.feira {
							display: none;
						}

						span.horario {
							font-weight: 400;
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 389.98px) {
	#promocao .container .horario-funcionamento {
		.card {
			img {
				width: clamp(78px, 8vw, 94.83px);
				height: clamp(70px, 8vw, 94.83px);
				clip-path: circle(47%);
			}

			.info p span.horario {
				white-space: nowrap;
			}
		}
		.seguir h3 {
			font-size: 2.2rem;
		}
	}
}