.publicacoes {
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 100%;
	margin: 0 auto 68px;
	text-align: center;

	h1 {
		width: 100%;
		margin-bottom: 4px;
		padding: 0 24px;
	}

	p {
		margin-bottom: 16px;
		padding: 0 24px;
	}

	.galery {
		display: flex;
		justify-content: center;
		width: 100%;
		position: relative;
		margin-bottom: -1px;
		overflow: hidden;

		&::before,
		&::after {
			content: '';
			display: flex;
			padding: 109px 205.56px;
			position: absolute;
			top: 0;
			z-index: 1;
		}

		&::before {
			left: 0;
			background: linear-gradient(to left, rgba(33, 32, 27, 0) 0%, rgba(33, 32, 27, 1));
		}

		&::after {
			right: 0;
			background: linear-gradient(to right, rgba(33, 32, 27, 0) 0%, rgba(33, 32, 27, 1));
		}


		.picture {
			img {
				width: 270px;
				height: 219px;
			}

			&:first-child img, &:last-child img{
				width: 150px;
			}
		}
	}

	.marquee {
		width: 100%;
		height: 49px;
		background: url('@/assets/empire-burger-marquee.webp') repeat -25px center;
		background-size: contain;
		z-index: 1;
		$prop-animation: bg-scrolling 32s infinite;
		
		-webkit-animation: $prop-animation; /* Safari 4+ */
		-moz-animation:    $prop-animation; /* Fx 5+ */
		-o-animation:      $prop-animation; /* Opera 12+ */
		animation:         $prop-animation; /* IE 10+ */
		-webkit-animation-timing-function: linear;
		-moz-animation-timing-function:    linear;
		-o-animation-timing-function:      linear;
		animation-timing-function:         linear;

		@-webkit-keyframes bg-scrolling {
			0% { background-position: 100%; }
		}
		@-moz-keyframes    bg-scrolling {
			0% { background-position: 100%; }
		}
		@-o-keyframes      bg-scrolling {
			0% { background-position: 100%; }
		}
		@keyframes         bg-scrolling {
			0% { background-position: 100%; }
		}

		&:hover {
			cursor: pointer;
			-webkit-animation-play-state:paused;
			-moz-animation-play-state:paused;
			-o-animation-play-state:paused;
			animation-play-state:paused;
		}
	}
}

@media screen and (max-width: 657.98px) {
	.publicacoes {
		margin: 0 auto 40px;

		.galery {
			&::before,
			&::after {
				padding: 50px 44.46px;
			}

			.picture img {
				width: 123.79px;
				height: 99.95px;

				&:first-child img,
				&:last-child img {
					display: none;
				}
			}
		}

		.marquee {
			height: 24.39px;
		}
	}
}

@media screen and (max-width: 519.98px) {
	.publicacoes .galery .picture {
		&:first-child img,
		&:nth-child(2) img,
		&:nth-last-child(2) img,
		&:last-child img {
			display: none;
		}
	}
}