.servicos {
	display: grid;
	width: 100%;
	max-width: 970px;
	height: 132.538px;
	margin: 0 auto;
	padding: 0 20px;

	.wrap-content {
		display: grid;
		--auto-grid-min-size: 17rem;
		grid-template-columns: repeat(auto-fit, minmax(var(--auto-grid-min-size), 1fr));
		grid-gap: 1rem;
		align-items: center;
		padding: 17.5px 21px;
		background-color: #fff;
		box-shadow: 0px 4px 40px rgba(179, 155, 132, 0.5);
		border-radius: 10px;
		position: relative;
		top: -50px;

		& > * {
			max-width: unset;
		}

		& > * + * {
			margin-top: unset;
		}

		> div {
			display: grid;
			grid-template-areas:
				'img title'
				'img description';
			align-items: center;
			justify-content: center;
			position: relative;

			&:nth-of-type(2) img {
				margin-left: 21px;
			}

			&:nth-of-type(2):before,
			&:nth-of-type(2):after {
				content: '';
				height: 83.53px;
				position: absolute;
				border-left: 1px solid $brown-15;
				border-right: 1px solid $brown-15;
			}

			&:nth-of-type(2):after {
				right: 0;
			}

			img {
				grid-area: img;
				background: #fae2cb;
				clip-path: circle(50%);
				height: 60px;
				width: 60px;
				object-fit: none;
				margin-right: 18px;
			}

			div {
				.title {
					grid-area: title;
					font-size: 20px;
					margin-bottom: 5px;
				}
				.description {
					grid-area: description;
					max-width: 170px;
					line-height: 120%;
					opacity: 0.6;
				}
			}
		}
	}
}

@media (max-width: 946.98px) {
	.servicos .wrap-content > div:nth-of-type(2):after {
		display: none;
	}
}

@media (min-width: 658px) and (max-width: 946.98px) {
	.servicos {
		height: 183px;

		.wrap-content > div:last-child {
			grid-column: span 2;
			grid-row: 2;
			margin-top: 8px;
		}
	}
}

@media screen and (max-width: 657.98px) {
	.servicos {
		width: 100%;
		height: 236px;
		padding: 0 36.21px;

		.wrap-content {
			grid-template-columns: repeat(auto, minmax(var(--auto-grid-min-size), 1fr));
			top: -108px;

			> div {
				&:nth-of-type(2) {
					height: 101px;
					grid-template-rows: 1fr;

					div {
						align-items: center;
					}
				}

				&:nth-of-type(2) img {
					margin-left: 0;
				}

				&:nth-of-type(2):before,
				&:nth-of-type(2):after {
					content: '';
					width: 100%;
					height: inherit;
					position: absolute;
					border-top: 1px solid $brown-15;
					border-bottom: 1px solid $brown-15;
				}

				&:nth-of-type(2):before {
					border-left: 0 solid;
					border-right: 0 solid;
				}
			}
		}
	}
}

@media screen and (max-width: 389.98px) {
	.servicos .wrap-content {
		grid-gap: 12px;
		padding: 12px;

		> div {
			justify-content: start;

			img {
				margin-right: 12px;
			}

			div p {
				font-size: 14px;
			}
		}
	}
}